<nav class="bg-white mb-1 shadow">
  <div class="max-w-5xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex justify-between h-20">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button id="menu-button" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-red-600" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->
          <svg id="open-menu-icon" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!-- Icon when menu is open. -->
          <svg id="close-menu-icon" class="hidden h-6 w-6" xmlns="htp://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          {{ if not .IsHome }}<a href="/">{{ end }}
              <h1 class="text-3xl text-gray-700">Ursula Jakob</h1>
          {{ if not .IsHome }}</a>{{ end }}
        </div>
        <div class="hidden sm:ml-9 sm:flex sm:space-x-8">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} border-red-600 text-gray-900 {{ else }} border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 {{ end }} inline-flex items-center px-1 pt-1 border-b-2 text-lg font-medium" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="hidden" id="mobile-menu">
    <div class="pt-2 pb-4 space-y-1">
       {{ $currentPage := . }}
       {{ range .Site.Menus.main }}
       <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} bg-red-50 border-red-600 text-red-900 {{ else }} border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 {{ end }}  block pl-3 pr-4 py-2 border-l-4 text-base font-medium" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
       {{ end }}
    </div>
  </div>
</nav>
<script>
    var menu_open = false;
    var menu_button = document.getElementById("menu-button");
    var menu = document.getElementById("mobile-menu");
    var open_icon = document.getElementById("open-menu-icon");
    var close_icon = document.getElementById("close-menu-icon");
    menu_button.addEventListener("click", function() {
        menu_open = !menu_open;
        if (menu_open) {
            menu.className = "block sm:hidden";
            close_icon.className.baseVal = "block h-6 w-6"
            open_icon.className.baseVal = "hidden h-6 w-6"
        } else {
            menu.className = "hidden";
            open_icon.className.baseVal = "block h-6 w-6"
            close_icon.className.baseVal = "hidden h-6 w-6"
        }
    });
</script>

